*{
   background-color: #89cbcb;
   margin: 0;
   padding: 0; 
   font-family: 'Edu SA Beginner', cursive;
 
}

.header{

   display: flex;
   height: 120px;
   min-width: 100%;
   background: linear-gradient( #3c6969  , #89cbcb );
   align-items: center;
   justify-content: space-between;
   
}

.header div{
   margin: 25px;
   background: none;
   

}

a{
   text-decoration: none;
   background: none;
}

svg{
   background: none;
}


.header h2{
   display: flex;

   margin: 10px;
   padding: 4px;

   color: #000000;

   height: 33px;
   width: auto;

   border:solid;
   border-radius: 8px;
   border-width: 3px;
   border-color: #000000;
   
   background: none;
   font-size: 1.5em;
}

.droite{
   display: flex;
   flex-direction: row;
}

.gauche{
   /* margin-left: 200px; */

}


.name{
   font-size: 5em;
   margin-left: 350px ;

}
